<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<test name="Verify Cloud Popflow Test Cases">
		<classes>
		<class
				name="com.popflow.Automation.testcases.PopFlowHomePageTest">
				<methods>
					<include name = "verifyPopflowVersion">
					</include>
					<include name ="verifyLoginWithValidCRMCredentials">
					</include>
					<include name = "verifyAddNewWorkflowFunctionality">
					</include>
					<include name = "verifyEditWorkflowFunctionality">
					</include>
					<include name = "verifyDeleteWorkflowFunctionality">
					</include>
					<include name = "verifyDuplicateWorkflowFuncttionality">
					</include>
					<include name = "verifyAddNewCustomEventFunctionality">
					</include>
					<include name = "verifyEditWorkflowFunctionality">
					</include>
					<include name = "verifyEditWorkflowDescriptionFunctionality">
					</include>
					<include name = "verifyErroMessageForLongWFDescrition">
					</include>
					<include name = "verifyErroMessageForLongWFName">
					</include>
					<include name = "verifyPopflowEvents">
					</include>
					<include name = "verifyImportWorkflowFunctionality">
					</include>
					<include name = "verifyImportOverrideWorkflowFunctionality">
					</include>
					<include name = "verifyImportWorkflowFunctionalityWithOptionNew">
					</include>
					<include name = "verifyCRMInsatnceNavigation">
					</include>
					
				</methods>
			</class>
			
		<class
				name="com.popflow.Automation.testcases.CreateWorkspaceActivityTest">
				<methods>
					<include name = "verifyAddingCreateWorkspaceActivity">
					</include>
					<include name = "verifyEditActivity">
					</include>
					<include name = "verifyDeleteActivity">
					</include>
					<include name = "verifyPinActivity">
					</include>
					<include name = "verifyCopyActivity">
					</include>
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
